<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>@ViewBag.Title</title>
        @StyleSheet("~/Content/jQuery/jquery-ui-1.8.20.custom.css")
        @StyleSheet("~/Content/GoogleMaps.css")
        @StyleSheet("~/Content/Menu.css")
        @StyleSheet("~/Content/Site.css")
        @Content.Script(Url, "~/Scripts/jQuery/jquery-1.7.2.min.js")
        @Content.Script(Url, "~/Scripts/jQuery/jquery-ui-1.8.20.custom.min.js")
        @Content.Script(Url, "~/Scripts/jquery.unobtrusive-ajax.min.js")
        @Content.Script(Url, "~/Scripts/jquery.validate.js")
        @Content.Script(Url, "~/Scripts/jquery.validate.unobtrusive.js")
        @Content.Script(Url, "~/Scripts/modernizr-1.7.min.js")
        @Content.Script(Url, "~/Scripts/Utils/responses.js")        
        @Content.Script(Url, "~/Scripts/Utils/validation.js")
        @Content.Script(Url, "~/Scripts/Utils/notifier.js")
        @Content.Script(Url, "~/Scripts/Utils/notifications.js")
        @Content.Script(Url, "~/Scripts/Utils/googleMapsApi.js")
        @Content.Script(Url, "~/Scripts/Utils/busyIndicator.js")
        @Content.Script(Url, "~/Scripts/Utils/dialogs.js")
        @Content.Script(Url, "~/Scripts/MedicalLocator/menu.js")
        @Content.Script(Url, "~/Scripts/MedicalLocator/googleMaps.js")
        @Content.Script(Url, "~/Scripts/MedicalLocator/geoLocation.js")
        @Content.Script(Url, "~/Scripts/MedicalLocator/searching.js")
        @Content.Script(Url, "~/Scripts/MedicalLocator/searchingDialog.js")
        @Content.Script(Url, "~/Scripts/MedicalLocator/logging.js")
        @Content.Script(Url, "~/Scripts/MedicalLocator/loggingDialog.js")
        @Content.Script(Url, "~/Scripts/MedicalLocator/registering.js")
        @Content.Script(Url, "~/Scripts/MedicalLocator/registeringDialog.js")
        
    </head>
    <body>
        @Html.Partial("_NoJavascriptPartial")
        @Html.Partial("_OverlayPartial")
        @Html.Partial("_MenuPartial")
        @RenderBody()

        <script type="text/javascript">
            $(function () {
                notificationsManager.tryShowNotification();
            });
        </script>
    </body>
</html>

@helper StyleSheet(string cssUrl) {
    <link href="@Url.Content(cssUrl)" rel="stylesheet" type="text/css"/>    
}