<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>@ViewBag.Title</title>
        @StyleSheet("~/Content/Site.css")
        @StyleSheet("~/Content/GoogleMaps.css")
        @StyleSheet("~/Content/Menu.css")
    </head>
    <body>
        @Html.Partial("_OverlayPartial")
        @Html.Partial("_MenuPartial")
        @RenderBody()

        @Script("~/Scripts/jquery-1.5.1.min.js")
        @Script("~/Scripts/Utils/notifier.js")
        @Script("~/Scripts/Utils/notifications.js")
        @Script("~/Scripts/Utils/googleMapsApi.js")
        @Script("~/Scripts/Utils/busyIndicator.js")
        @Script("~/Scripts/MedicalLocator/menu.js")
        @Script("~/Scripts/MedicalLocator/googleMaps.js")
        @Script("~/Scripts/MedicalLocator/geoLocation.js")
        @Script("~/Scripts/MedicalLocator/searching.js")
    </body>
</html>

@helper StyleSheet(string cssUrl) {
    <link href="@Url.Content(cssUrl)" rel="stylesheet" type="text/css"/>    
}
@helper Script(string scriptUrl) {
    <script src="@Url.Content(scriptUrl)" type="text/javascript"></script>    
}