<div id="menu">
    @MenuItem("find_nearby", "Find nearby")
    @MenuItem("search", "Search")
    @MenuItem("about", "About")

    @Html.Partial("_LoginPartial")
</div>

@helper MenuItem(string elementId, string itemText) {
    <div id="@elementId" class="menu_item">
        <a>@itemText</a>
    </div>
}

<script type="text/javascript">
    $(function () {
        var menuManager = new MenuManager();

        var findNearby = $("#find_nearby");
        menuManager.initializeFindNearby(findNearby);
    });
</script>