<div id="menu">
    @MenuItem("Find nearby", "FindNearby", "Search")
    @MenuItem("Search", "Search", "Search")
    @MenuItem("About", "ShowAbout", "Home")

    @Html.Partial("_LoginPartial")
</div>

@helper MenuItem(string itemText, string actionName, string controllerName) {
    <div class="menu_item">
        @Ajax.ActionLink(itemText, actionName, controllerName, null)
    </div>
}