<div id="menu">
    @MenuItem("find_nearby_button", "Find nearby")
    @MenuItem("search_button", "Search")
    @MenuItem("about_button", "About")
    @Html.Partial("_LoginPartial")
</div>

@helper MenuItem(string elementId, string itemText) {
    <div id="@elementId" class="menu_item">
        <a>@itemText</a>
    </div>
}